.editor {
  margin-top: 5px;
  padding-bottom: 5px;
 
}
.editor {
  line-height: 20px;
}

.editor .frame {
  padding: 10px 0;
}

.flex {
  display: flex;
}

.flex1 {
  flex:1;
}

.fluid-container {
  max-width: 1440px;
  padding: 0 15px;
  margin: 0 auto;
}